{% extends 'base.html' %}

{% block content %}
<section class="container">
    <div class="container-fluid top_search p-x-1 p-y-1 m-b-3">

        <form>
          <div class="form-group m-x-1">
            <select class="form-control">
              <option>-Bien recherché-</option>
              <option>Maison</option>
              <option>Appartement</option>
              <option>Studio</option>
              <option>Loft</option>
              <option>Villa</option>
            </select>
          </div>
          <div class="form-group m-x-1">
            <select class="form-control">
              <option>-Standing-</option>
              <option> Haut</option>
              <option> Moyen</option>
              <option> Standard</option>
            </select>
          </div>
          <div class="form-group m-x-1">
            <input class="form-control" type="text" placeholder="Ville(s)">
          </div>
          <div class="form-group m-x-1">
            <select class="form-control">
              <option>-Votre budget-</option>
              <option>- 100 000</option>
              <option>100 à 120 000</option>
              <option>120 à 150 000</option>
              <option>150 à 200 000</option>
              <option>200 à 300 000</option>
              <option>300 à 400 000</option>
              <option>400 à 500 000</option>
              <option>+ 500 000</option>
            </select>
          </div>
          <div class="form-group m-x-1">
            <select class="form-control">
              <option>-Extérieur-</option>
              <option>Jardin</option>
              <option>Balcon</option>
              <option>Indifférent</option>
            </select>
          </div>
        </form>
        <button type="submit" class="btn" id="find_button">Trouver mon bien</button>
    
      </div>
      <!-- Cards search results -->
  <div class="row">

    {% for annonce in annonces %}

    <div class="col-xs-12 col-sm-6 col-md-4">
      <article class="card">
        <div class="card-block text-xs-center head">
          <h4 class="card-title">{{ annonce.titre }} </h4>
          <h6 class="card-subtitle">{{ annonce.ville }}, {{ annonce.prix }} CFA</h6>
        </div>
        <figure>
          <img src="{{annonce.image.url}}" class="img-fluid hidden-sm-up" alt="appartement à vendre">
          <img src="{{annonce.image.url}}" class="img-fluid hidden-xs-down hidden-lg-up" alt="appartement à vendre">
          <img src="{{annonce.image.url}}" class="img-fluid hidden-md-down" alt="appartement à vendre">
        </figure>
        <div class="card-block text-xs-center">
          <p class="card-text">{{ annonce.description }}</p>
          <figure class="description">
            <span><i class="fa fa-bed" aria-hidden="true"></i> {{ annonce.ville }}</span>
            <span><i class="fa fa-paper-plane" aria-hidden="true"></i>  {{ annonce.quartier }} </span>
            <span><i class="fa fa-tint" aria-hidden="true"></i> {{ annonce.standing }} </span>
          </figure>
          <a href="#" class="card-link"><i class="fa fa-eye m-r-1" aria-hidden="true"></i>Voir</a>
          <button class="btn btn-primary m-r-1"><i class="fa fa-star" aria-hidden="true"></i> Favoris</button>
          <button class="btn btn-success">Louer</button>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>

</section>

{% endblock %}
