<!-- user/mon_compte.html -->
{% extends 'base.html' %} <!-- Utilisez votre modèle de base si vous en avez un -->

{% block content %}
{%csrf_token%}
{% if request.user.is_student %}
    Vous ne pouvez ajouter de bien immobilier.
{% else %}
<div class="container">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      
  <br>
        <div class="alert alert-success" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    </ul>
  {% endif %}
    <div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Informations sur le bien immobilier</h6>
                </div>
                <form method ="post" action="{% url 'ajouter' %}" enctype="multipart/form-data">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        {%csrf_token%}
                        <label class="label" for="titre">Titre</label>
                        <input type="text" name="titre" class="form-control" required>
                            </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="label" for="ville">Ville</label>
                        <input type="text" name="ville" class="form-control" required>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="quartier">Quartier</label>
                        <input type="text" name='quartier' class="form-control" id="quartier">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="prix">Prix</label>
                        <input type="text" name ='prix' class="form-control" id="prix" required>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="descritption">Description</label>
                        <input type="text" name='description' class="form-control">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="standing">Standing</label>
                        <select name="standing" class="form-control" id="standing" required>
                            <option value="haut">Haut</option>
                            <option value="moyen">Moyen</option>
                            <option value="standard">Standard</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" name="image" class="form-control-file" id="image" required>
                    </div>
                </div>
                
                
                
            </div>
            
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        {% comment %} <button type="submit" id="submit" name="submit" class="btn btn-secondary">Modifier</button> {% endcomment %}
                        <button type="submit" id="submit" name="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </div>
            </div>
        </form>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
    {% endif %}
{% endblock %}
