<!-- user/mon_compte.html -->
{% extends 'base.html' %} <!-- Utilisez votre modèle de base si vous en avez un -->

{% block content %}
{%csrf_token%}

<div class="container">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      
  <br>
        <div class="alert alert-success" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    </ul>
  {% endif %}
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                    </div>
                    <h5 class="user-name">{{user.username}}</h5>
                    <h6 class="user-email">{{user.email}}</h6>
                </div>
                <div class="about">
                    {% if request.user.is_student %}
                        <h5>Profile: Etudiant</h5>
                    {% else %}
                        <h5>Profile: Propriétaire</h5>
                    {% endif %}
                    <a href="{% url 'user:deconnexion' %}">Déconnexion</a>
                </div>
            </div>  
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Informations personnels</h6>
                </div>
                <form method ="post" action="{% url 'user:mon_compte' %}" >
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        {%csrf_token%}
                        <label class="label" for="nom">Nom</label>
                        <input type="text" name="nom" class="form-control" value={{user.last_name}} required>
                            </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="label" for="prenom">Prénom</label>
                        <input type="text" name="prenom" class="form-control" value={{user.first_name}} required>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="eMail">Email</label>
                        <input type="email" name='email' class="form-control" id="eMail" value={{user.email}}>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" name ='tel' class="form-control" id="phone" value={{user.tel}}>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name='password' class="form-control" id="eMail" value={{user.password}}>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="password1">Confirmer le mot de passe</label>
                        <input type="password" name ='password1' class="form-control" id="phone" value={{user.password}} placeholder='mot de passe'>
                    </div>
                </div>
                
            </div>
            
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        {% comment %} <button type="submit" id="submit" name="submit" class="btn btn-secondary">Modifier</button> {% endcomment %}
                        <button type="submit" id="submit" name="submit" class="btn btn-primary">Mettre à jour</button>
                    </div>
                </div>
            </div>
        </form>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="mb-2 text-primary">Vos favoris</h6>
            </div>
            
            {% for favoris in favoris %}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <article class="card">
        <div class="card-block text-xs-center head">
          <h4 class="card-title">{{ favoris.annonce.titre }} </h4>
          <h6 class="card-subtitle">{{ favoris.annonce.ville }}, {{ annonce.prix }} CFA</h6>
        </div>
        <figure>
          <img src="{{favoris.annonce.image.url}}" class="img-fluid hidden-sm-up" alt="appartement à vendre">
          <img src="{{favoris.annonce.image.url}}" class="img-fluid hidden-xs-down hidden-lg-up" alt="appartement à vendre">
          <img src="{{favoris.annonce.image.url}}" class="img-fluid hidden-md-down" alt="appartement à vendre">
        </figure>
        <div class="card-block text-xs-center">
          <p class="card-text">{{ favoris.annonce.description }}</p>
          <figure class="description">
            <span><i class="fa fa-bed" aria-hidden="true"></i> {{ favoris.annonce.ville }}</span>
            <span><i class="fa fa-paper-plane" aria-hidden="true"></i>  {{favoris.annonce.quartier }} </span>
            <span><i class="fa fa-tint" aria-hidden="true"></i> {{ favoris.annonce.standing }} </span>
          </figure>
          <a href="#" class="card-link"><i class="fa fa-eye m-r-1" aria-hidden="true"></i>Voir</a>
          <button class="btn btn-primary m-r-1"><i class="fa fa-star" aria-hidden="true"></i> Favoris</button>
          <button class="btn btn-success">Louer</button>
        </div>
      </article>
    </div>
    {% empty %}
            <p>Aucun favori enregistré.<p>
    {% endfor %}


    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h6 class="mb-2 text-primary">Vos locations</h6>
    </div>
        {% for location in annonces_locataire %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          <article class="card">
            <div class="card-block text-xs-center head">
              <h4 class="card-title">{{ location.annonce.titre }} </h4>
              <h6 class="card-subtitle">{{ location.annonce.ville }}, {{ annonce.prix }} CFA</h6>
            </div>
            <figure>
              <img src="{{location.annonce.image.url}}" class="img-fluid hidden-sm-up" alt="appartement à vendre">
              <img src="{{location.annonce.image.url}}" class="img-fluid hidden-xs-down hidden-lg-up" alt="appartement à vendre">
              <img src="{{location.annonce.image.url}}" class="img-fluid hidden-md-down" alt="appartement à vendre">
            </figure>
            <div class="card-block text-xs-center">
              <p class="card-text">{{ location.annonce.description }}</p>
              <figure class="description">
                <span><i class="fa fa-bed" aria-hidden="true"></i> {{ location.annonce.ville }}</span>
                <span><i class="fa fa-paper-plane" aria-hidden="true"></i>  {{location.annonce.quartier }} </span>
                <span><i class="fa fa-tint" aria-hidden="true"></i> {{ location.annonce.standing }} </span>
              </figure>
              <a href="#" class="card-link"><i class="fa fa-eye m-r-1" aria-hidden="true"></i>Voir</a>
              <button class="btn btn-primary m-r-1"><i class="fa fa-star" aria-hidden="true"></i> Favoris</button>
              <button class="btn btn-success">Louer</button>
            </div>
          </article>
        </div>
        {% empty %}
                <p>Aucune location<p>
        {% endfor %}
    
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
{% endblock %}
